@media screen and (max-width:967px){
    .header-scrolled{
        height: auto;
    }
    .header-wrapper .navbar-collapse{
        margin-top: -0.125rem;
    }

    .header-wrapper .menu-navbar-nav{
        /* background-color: var(--primary-text);  */
        padding-bottom: 10px;
       width: 30%;
       display: flex;
       /* margin-left: 600px; */
       
    }
    .header-wrapper .nav-item .nav-link{
       margin-top: 10px;
       
    }
    .header-wrapper .navbar-toggler-icon {
      color: #fc5aa1;
    }
    
    .banner-wrapper .banner-box{
      width: 90%;
    }
    .banner-wrapper .auto-type{
       top: 232%;
    }
    .banner-wrapper .img-riya{
      width: 60%;
    }

    .about-wrapper .about-box{
      width: 90%;
    }
    .skill-wrapper {
      width: 90%;
    }
    .skill-box{
      width: 90%;
    }
    
    .skill-icon i {
      margin-left: -30px;
      padding-right: 0;
      font-size: 20px;
    }
    .overlay,overlay1,overlay2,overlay3,overlay4,overlay5,overlay6{
      display: none;
    }
    .img-box{
      width: 35px !important;
      margin-left: -45px;
    }
    .skill-wrapper .skill-box1{
      display: none;
    }
    .portfolio-wrapper .container h2::after {
      display: none;
    }
    .portfolio-wrapper .container h2 {
      padding: 0;
    }
    .portfolio-1{
      padding-left: 96px;
    }
    .skill-wrapper .container h2::after {
      display: none;
    }
    .about-wrapper .container h2::after {
      display: none;
    }
    .contact-wrapper .container h2::after {
      display: none;
    }
    .box-card{
      margin-left: 60px;
    }
    .iformation {
      padding-left: 0;
        padding-top: 20px;
    }
    .links{
      padding-left: 141px;
    }

}








/* @media (max-width:767px){
    h1{
        font-size: 20px;
      }
      h2{
        font-size: 16px;
      }
      h3{
        font-size: 13px;
      }
}






