@media screen and (max-width:967px){
    .header-scrolled{
        height: auto;
    }
    .header-wrapper .navbar-collapse{
        margin-top: -0.125rem;
    }

    .header-wrapper .menu-navbar-nav{
        /* background-color: var(--primary-text);  */
        padding-bottom: 10px;
       width: 30%;
       display: flex;
       /* margin-left: 600px; */
       
    }
    .header-wrapper .nav-item .nav-link{
       margin-top: 10px;
       
    }
    .header-wrapper .navbar-toggler-icon {
      color: #fc5aa1;
    }
    
    .banner-wrapper .auto-type{
       top: 20%;
    }
}








/* @media (max-width:767px){
    h1{
        font-size: 20px;
      }
      h2{
        font-size: 16px;
      }
      h3{
        font-size: 13px;
      }
}






